html * {
    font-family: $poppins-font;
    color: $white-color;
    
}
 
body {
    overflow-x: hidden;
    background-color: $blue-color;
    margin: 0;
} 

.page{
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-position:top right;
    background-size: 40%;
}