html * {
    font-family: $poppins-font;
    color: $white-color;
    
}
 
body {
    overflow-x: hidden;
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-position:top right;
    background-color: $blue-color;
} 

.page{
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}